{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Privacy Policy</h1>
<p class="text">We respect your privacy and want you to know what information we collect. This privacy policy describes what information we collect and how we use it. We only collect information if you are logged into an account on the website, if you are not, feel free to browse normally.</p>
<h2 class="page-subtitle">Username</h2>
<p class="text">We use this to identify every user on the website.</p>
<h2 class="page-subtitle">Password (Hashed and salted)</h2>
<p class="text">This is used to make sure that you are the real owner of the account. This information is hashed and salted, meaning that not even we can see what your password is.</p>
<h2 class="page-subtitle">Email</h2>
<p class="text">We use this to send you emails, password resets, and to send you important information about the website.</p>
<h2 class="page-subtitle">Last IP Address</h2>
<p class="text">We use this for moderation purposes, that is the full extent of how we use this field. We use it to make sure your account is secure.</p>
<h2 class="page-subtitle">Last Login</h2>
<p class="text">We use this for moderation purposes, and to make sure that your account is secure.</p>
<h2 class="page-subtitle">Favourite colour</h2>
<p class="text">For account personalistion, not a dangerous thing to store.</p>
<h2 class="page-subtitle">Servers owned</h2>
<p class="text">A list of servers that you own.</p>
<h2 class="page-subtitle">Profile picture</h2>
<p class="text">For account personalistion, not a dangerous thing to store.</p>
<h2 class="page-subtitle">Profile banner</h2>
<p class="text">For account personalistion, not a dangerous thing to store.</p>
<p class="text">Thanks for checking out the privacy policy, it's great to see that you care about your own privacy and protection. If you would like all of your data to be removed, please contact <a>fizz#4096</a> on discord, or send an email to <a href="mailto:privacyrequest@fizz.red">privacyrequest@fizz.red</a>, which may have a slower response time of up to 14 days. Thanks!</p>
{% endblock %}